@page
@model SnowmeetApi.Pages.SummerMaintain.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SummerMaintain</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SummerMaintain.open_id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SummerMaintain.open_id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SummerMaintain.pay_method)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SummerMaintain.pay_method)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SummerMaintain.equip_type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SummerMaintain.equip_type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SummerMaintain.brand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SummerMaintain.brand)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SummerMaintain.scale)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SummerMaintain.scale)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SummerMaintain.binder_brand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SummerMaintain.binder_brand)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SummerMaintain.binder_color)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SummerMaintain.binder_color)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SummerMaintain.send_item)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SummerMaintain.send_item)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SummerMaintain.wanlong_no)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SummerMaintain.wanlong_no)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SummerMaintain.associates)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SummerMaintain.associates)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SummerMaintain.keep)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SummerMaintain.keep)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SummerMaintain.contact_name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SummerMaintain.contact_name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SummerMaintain.address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SummerMaintain.address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SummerMaintain.cell)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SummerMaintain.cell)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SummerMaintain.service)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SummerMaintain.service)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SummerMaintain.code)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SummerMaintain.code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SummerMaintain.order_id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SummerMaintain.order_id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SummerMaintain.source)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SummerMaintain.source)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SummerMaintain.waybill_no)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SummerMaintain.waybill_no)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SummerMaintain.state)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SummerMaintain.state)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SummerMaintain.images)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SummerMaintain.images)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SummerMaintain.owner_name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SummerMaintain.owner_name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SummerMaintain.owner_cell)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SummerMaintain.owner_cell)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SummerMaintain.oper_open_id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SummerMaintain.oper_open_id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SummerMaintain.create_date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SummerMaintain.create_date)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="SummerMaintain.id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
